{% extends "base.html" %}

{% block navbar %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
 <!-- Page Content -->


    <div class="container">

        {% load static %}
      <div class="row">
        <div class="col-lg-6 mx-auto">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
                   {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              Wrong username or password.
                            </div>
                         {% endif %}
              {% if next %}
                {% if user.is_authenticated %}
                  <p>Your account doesn't have access to this page. To proceed,
                       please login with an account that has access.</p>
              {% else %}
                   <p>Please login to access this page.</p>
              {% endif %}
            {% endif %}
              <form method="post" action="{% url 'login' %}">
               {% csrf_token %}
                  {% load widget_tweaks %}
                <div class="form-group">
                  <label for="email">Username</label><br>
                  {% render_field form.username class+="form-control" %}
                </div>

                <div class="form-group">
                  <label for="password">Password

                  </label><br>
                  {% render_field form.password class+="form-control" %}
                </div>

                 <span class="input-group-btn"><input class="btn btn-default btn-block" type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" /></span>
                  <p> </p>
                  <a class="text-purple medium" href="{% url 'password_reset' %}">Forget Password</a>
              </form>
            </div>
          </div>
        </div>
      </div>


    </div>
     <br>
      <br>

  </div>


  <br>
  <br>

{% endblock %}