<footer class="mainfooter" role="contentinfo">
 
  <div class="footer-middle bg-primary">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">

        <div class="footer-pad">
          <address>
                <ul class="list-unstyled"> 
                  <li>
                    Sekretariat KPPIKG 2019 <br>
                    Gedung B, 4th Floor<br>
                    Fakultas Kedokteran Gigi <br>
                    Universitas Indonesia<br>
                    Jakarta, Indonesia<br>
                    Email: info_kppikg@ui.ac.id<br>
                    Telp.+62-21-31930270, +62-21-3151035, ext. 214
                  </li>
                </ul>
              </address>
        </div>
      </div>
  </div>
  </div>


  <div class="footer-bottom bg-primary">

    <div class="container">
        <hr style="background-color: white;">
        <p class="text-right">&copy; Universitas Indonesia 2018 - 2019</p>
    </div>
  </div>

</footer>